<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Where To?</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="./static/assets/img/iconlogo.png" rel="icon">
  <link href="./static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="./static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="./static/assets/css/main.css" rel="stylesheet">

</head>

<body class="contact-page">

  <header id="header" class="header fixed-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">whereto@web.de</a></i>
          <!-- <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i> -->
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
            <!--<a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a> -->
            <a href="https://www.instagram.com/whereto.mas/?utm_source=ig_web_button_share_sheet"><i class="bi bi-instagram"></i></a>
            <!-- <a href=""><i class="bi bi-linkedin"></i></a> -->
          </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img src="./static/assets/img//logos/logo.png" alt="" class="logo-img">
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="/">Home<br></a></li>
            <li><a href="/about">About</a></li>
            <li class="dropdown"><a href="/categories"><span>Events</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="/categories?filter=filter-house">House</a></li>
                <li><a href="/categories?filter=filter-techno">Techno</a></li>
                <li><a href="/categories?filter=filter-pop">Pop</a></li>
                <li><a href="/categories?filter=filter-rb">R&B</a></li>
                <li><a href="/categories">Explore</a></li>
              </ul>
            <li class="dropdown"><a href="/organisers"  class="active"><span>Organisers</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="/organisers?filter=filter-org">Event Organisers</a></li>
                <li><a href="/organisers?filter=filter-venue">Venues</a></li>
                <li><a href="/organisers">Explore</a></li>
              </ul>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section accent-background">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-5 justify-content-between">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h2><span>Your Favourite Spots</span></h2>
            <p>Want your events featured?</p>
            <div class="d-flex">
              <a href="/contact" class="btn-get-started">Get in Touch</a>
              <!--<a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2">
            <a href="/about">
              <img src="./static/assets/img/logos/logo2.png" class="img-fluid" alt="Logo">
            </a>
          </div>
        </div>
      </div>


    </section><!-- /Hero Section -->

        <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Organisers in Maastricht</h2>
        <p>Explore who keeps the nightlife alive!</p>
        <!-- <p>We feature a range of venues and organisers operating in Maastricht.</p> -->
      
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">Explore All</li>
            <li data-filter=".filter-venue">Venue</li>
            <li data-filter=".filter-org">Event Organisers</li>

          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-org">
              <div class="portfolio-content h-100">
                  <img src="./static/assets/img/organisers/sankofa/sankofa-4.jpg" class="img-fluid" alt="sankofa nights">
                <hr style="margin: 10px 0;">
                <div class="portfolio-info">
                  <h4><a href="/sankofa" title="More Details">Sankofa Nights</a></h4>
                  <p><a href="/sankofa">Find Out More </a></p>
                </div>
              </div>
            </div> <!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-venue filter-org">
              <div class="portfolio-content h-100">
                  <img src="./static/assets/img/org.jpg" class="img-fluid" alt="App 1 image">
                <hr style="margin: 10px 0;">
                <div class="portfolio-info">
                  <h4><a href="/ven-page" title="More Details">CALLING ALL EVENT ORGANISERS</a></h4>
                  <p><a href="/ven-page">Find Out How To Be Featured on <em>Where To?</em>... </a></p>
                </div>
              </div>
            </div> <!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </div>

    </section><!-- /Portfolio Section -->
    


       <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Why not get in touch?</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">
            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Based In</h3>
                  <p>Maastricht / Cologne</p>
                </div>
              </div><!-- End Info Item -->

              <!-- <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55</p>
                </div>
              </div>End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email Us</h3>
                  <p><span><a href="mailto:contact@example.com">whereto@web.de</a></span></p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                <i class="bi bi-instagram"></i>
                <div>
                  <h3>Follow Us</h3>
                  <p><a href="https://www.instagram.com/whereto.mas/?utm_source=ig_web_button_share_sheet">@whereto.maas</a></p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-8">
            <form action="/submit_form" method="post" class="contact-email-form" data-aos="fade" data-aos-delay="100">
              <div class="row gy-4">

                <div class="col-md-6">
                  <label for="name">Name</label>
                  <input type="text" name="name" class="form-control" id="contact-name" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" id="contact-email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <label for="subject">Subject</label>
                  <input type="text" class="form-control" id="contact-subject" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <label for="message">Message</label>
                  <textarea class="form-control" name="message" id="contact-message" rows="8" placeholder="Message" required=""></textarea>
                </div>

                <div>
                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer accent-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="/" class="logo d-flex align-items-center">
            <span class="sitename">Where To?</span>
          </a>
          <p>Never miss a good event again.</p>
           <div class="social-links d-flex mt-4">
            <!--<a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a> -->
            <a href="https://www.instagram.com/whereto.mas/?utm_source=ig_web_button_share_sheet"><i class="bi bi-instagram"></i></a>
            <!-- <a href=""><i class="bi bi-linkedin"></i></a> -->
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/categories">Events</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Categories</h4>
            <ul>
              <li><a href="/categories?filter=filter-house">House</a></li>
              <li><a href="/categories?filter=filter-techno">Techno</a></li>
              <li><a href="/categories?filter=filter-pop">Pop</a></li>
              <li><a href="/categories?filter=filter-rb">R&B</a></li>
              <li><a href="/categories">Explore</a></li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Based In</h4>
          <p>Maastricht</p>
          <br>
          <!-- <p class="mt-4"><strong>Phone:</strong> <span></span></p> -->
          <h4>Email</h4>
          <p><span><a href="mailto:contact@example.com">whereto@web.de</a></span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>2025</span> <strong class="px-1 sitename">Where To?</strong> <span>All Rights Reserved</span></p>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="./static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./static/assets/vendor/php-email-form/validate.js"></script>
  <script src="./static/assets/vendor/aos/aos.js"></script>
  <script src="./static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="./static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="./static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="./static/assets/js/main.js"></script>


</body>

</html>